<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>CCレモン</title>
</head>
<body>
    <p>あなたの手は<%= your %>です．</p>
    <p>コンピュータは<%= cpu %>です．</p>
    <p>判定：<%= judgement %></p>
    <p>現在<%= total %>試合中<%= tame %>回ためて<%= win %>勝しています．</p>
    <hr>
    <form action="/action">
        <input type="text" name="hand" required>
        <label for="hand">次は何を出す？</label>
        <input type="hidden" name="win" value="<%= win %>">
        <input type="hidden" name="total" value="<%= total %>">
        <input type="hidden" name="tame" value="<%= tame %>">
        <input type="submit" values="C-C-レモン！">
    </form>   
</body>
</html>